<div data-ng-include="'module/core/app/view/blocks/header.html'" class="app-header navbar navbar-fixed-top"></div>

<div class="app-content">
    <div data-ui-butterbar></div>
    <a href class="off-screen-toggle hide" data-ui-toggle-class="off-screen" data-target=".app-aside"></a>

    <div class="app-content-body fade-in" ui-view></div>
</div>

<!--<div class="settings panel panel-default">-->
    <!--<a href data-ui-sref="app.editor({name: currentStateName})" class="btn btn-default no-shadow pos-abt">-->
        <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
<!--</div>-->