.dropdown-menu {
    top: 105%;
    border: 0 none;
    padding: 0;
}

.dropdown-menu-spaces {
    /*left: 14px;*/
}

.dropdown-menu-spaces div {
    padding: 3px 10px;
}

.dropdown-menu-spaces li a {
    display: block;
    padding: 3px 10px;
}

.dropdown-menu-spaces li a:hover {
    background-color: darkgrey;
}

.dropdown-separator {
    line-height: 50px;
    font-weight: 700;
}

.border-on-sides {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

h1.wrapper {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
}

.app-header {
    padding-left: 8px;
}

body.animated-header .app-header {
    opacity: .4;
}

body.animated-header .app-header:hover {
    opacity: .9;
}

.header-default {
    padding: 20px 20px 10px;
}

body.animated-header .header-default {
    opacity: .4;
}

body.animated-header .header-default:hover {
    opacity: .9;
}

.header-fixed-top {
    position: fixed;
    width: 100%;
    z-index: 100;
}