<div class="bg-light lter b-b wrapper-md header-default">

    <h1 class="m-n font-thin h3 text-black"><b>Hallo Tobias.</b> Was willst du als nächstes
        machen?
        <a href class="btn btn-default">Ziele ermitteln</a>
        ,
        <a href class="btn btn-default">Lösungen finden</a>
        oder
        <a href class="btn btn-default">mein Netzwerk erweitern</a>
        ?
    </h1>

</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-md-4">
            <div class="clearfix">
                <h1 class="wrapper pull-left">Nächste Schritte</h1>

                <div class="btn-group pull-right">
                    <a href class="dropdown-toggle btn btn-default" data-toggle="dropdown">Sortierung</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href>Kategorie</a>
                        </li>
                        <li>
                            <a href>Datum</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel no-border">
                <div class="panel-heading wrapper b-b b-light">
                    <span class="pull-right badge badge-bg m-t-xs">2</span>
                    <h4 class="font-thin m-t-none m-b-none text-muted">Persönlichkeit und Lernen</h4>
                </div>
                <ul class="list-group list-group-lg m-b-none">
                    <li class="list-group-item">
                        <span class="pull-right label bg-primary inline m-t-xs">Abitur</span>
                        <a href>Mathe #7</a>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right label bg-primary inline m-t-xs">Arabisch</span>
                        <a href>Vorkabeln lernen</a>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right label bg-primary inline m-t-xs">User Groups</span>
                        <a href>MünsterJS Typ kontaktieren</a>
                    </li>
                </ul>
            </div>
            <div class="panel no-border">
                <div class="panel-heading wrapper b-b b-light">
                    <span class="pull-right badge badge-bg m-t-xs">2</span>
                    <h4 class="font-thin m-t-none m-b-none text-muted">Finanzen und Materielles</h4>
                </div>
                <ul class="list-group list-group-lg m-b-none">
                    <li class="list-group-item">
                        <span class="pull-right label bg-primary inline m-t-xs">Auto</span>
                        <a href>Auto kaufen</a>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right label bg-primary inline m-t-xs">Haus und Wohnung</span>
                        <a href>Haus bauen oder kaufen</a>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right label bg-primary inline m-t-xs">Haus und Wohnung</span>
                        <a href>Wohnung kündigen</a>
                    </li>
                </ul>
            </div>
            <div class="panel no-border">
                <div class="panel-heading wrapper b-b b-light">
                    <span class="pull-right badge badge-bg m-t-xs">2</span>
                    <h4 class="font-thin m-t-none m-b-none text-muted">Partnerschaft</h4>
                </div>
                <ul class="list-group list-group-lg m-b-none">
                    <li class="list-group-item">
                        <span class="pull-right label bg-danger inline m-t-xs">Partnschaft</span>
                        <a href>Spaziergang</a>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right label bg-danger inline m-t-xs">Partnschaft</span>
                        <a href>Zusammen kochen</a>
                    </li>
                </ul>
            </div>
            <div class="panel no-border">
                <div class="panel-heading wrapper b-b b-light">
                    <span class="pull-right badge badge-bg m-t-xs">2</span>
                    <h4 class="font-thin m-t-none m-b-none text-muted">Unternehmen</h4>
                </div>
                <ul class="list-group list-group-lg m-b-none">
                    <li class="list-group-item">
                        <span class="pull-right label bg-dark inline m-t-xs"><a href>Gew</a></span>
                        <a href>Tobias Oberrauch kontaktieren</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">

            <ul>
                <li>lösungen im solution store anbieten</li>
                <ul>
                    <li>models</li>
                    <li>views</li>
                    <li>modules</li>
                </ul>
                <li>hochzeitsrede</li>
                <li>ziel > lösung > im netzwerk?</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h1 class="wrapper">Lösungen</h1>

            <div class="list-group list-group-lg list-group-sp">
                <a href class="list-group-item clearfix">
                  <span class="pull-left thumb-sm avatar m-r">
                    <img src="module/grolba/music/public/img/a4.jpg" alt="...">
                    <i class="on b-white right"></i>
                  </span>
                  <span class="clear">
                    <span>Motivator #1</span>
                    <small class="text-muted clear text-ellipsis">Hier Motivationsspruch. Auf mobiler App anschauen
                    </small>
                  </span>
                </a>
                <a href class="list-group-item clearfix">
                  <span class="pull-left thumb-sm avatar m-r">
                    <img src="module/grolba/music/public/img/a5.jpg" alt="...">
                    <i class="on b-white right"></i>
                  </span>
                  <span class="clear">
                    <span>Motivitor Video</span>
                    <small class="text-muted clear text-ellipsis">Auf mobiler App anschauen</small>
                  </span>
                </a>
                <a href class="list-group-item clearfix">
                  <span class="pull-left thumb-sm avatar m-r">
                    <img src="module/grolba/music/public/img/a6.jpg" alt="...">
                    <i class="busy b-white right"></i>
                  </span>
                  <span class="clear">
                    <span>Motivator Mp3</span>
                    <small class="text-muted clear text-ellipsis">Auf mobiler App anschauen</small>
                  </span>
                </a>
            </div>
        </div>
    </div>
</div>