<div class="collapse pos-rlt navbar-collapse box-shadow {{space.settings.navbarCollapseColor}}">
    <ul class="nav navbar-nav hidden-sm">
        <li>
            <a href class="dropdown-toggle navbar-brand" data-toggle="dropdown">
                <span>{{ space.name }}</span>
                <span class="caret"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-spaces wrapper bg-white">
                <ul class="list-unstyled l-h-2x">
                    <li data-ng-repeat="(spaceId, space) in spaces">
                        <a href data-ng-click="openSpace(spaceId)"><i
                                class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{ space.name }}</a>
                    </li>
                </ul>
            </div>
        </li>
        <li data-ng-repeat="menuItem in space.menu" class="dropdown">
            <a href data-ui-sref="{{ menuItem.sref }}" class="dropdown-toggle" data-toggle="dropdown"
               data-ng-if="!menuItem.children">
                <span>{{ menuItem.label }}</span>
            </a>

            <a href class="dropdown-toggle" data-toggle="dropdown" data-ng-if="menuItem.children">
                <span>{{ menuItem.label }}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" data-ng-if="menuItem.children">
                <li data-ng-repeat="child in menuItem.children">
                    <a href data-ui-sref="{{ child.sref }}">{{ child.label }}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href data-ng-click="openModuleModal()" title="Hier können Sie ein neues Modul hinzufügen"
               data-ng-mouseover="showNotice('Hier können Sie ein neues Modul hinzufügen')"
               data-ng-mouseout="showNotice('')">+</a>
        </li>
    </ul>
    <div class="navbar-right" id="notices">
        <p class="navbar-text"><span class="text"></span></p>
    </div>
</div>
