<div class="collapse pos-rlt navbar-collapse ">
    <ul class="nav navbar-nav hidden-sm">
        <li data-ng-if="spaces.length == 1">
            <a href data-ui-sref="app.dashboard" class="dropdown-toggle navbar-brand" data-toggle="dropdown">
                <span>{{ space.name }}</span>
            </a>
        </li>

        <li data-ng-if="spaces.length > 1">
            <a href class="dropdown-toggle navbar-brand" data-toggle="dropdown">
                <span>{{ space.name }}</span>
                <span class="caret"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-spaces wrapper bg-white">
                <ul class="list-unstyled l-h-2x">
                    <li data-ng-repeat="(spaceId, space) in spaces">
                        <a href data-ng-click="openSpace(spaceId)">
                            <i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>
                            {{ space.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li data-ng-repeat="menuItem in space.menu" class="dropdown">
            <a href data-ui-sref="{{ menuItem.sref }}" class="dropdown-toggle" data-toggle="dropdown"
               data-ng-if="!menuItem.children">
                <span>{{ menuItem.label }}</span>
            </a>

            <a href class="dropdown-toggle" data-toggle="dropdown" data-ng-if="menuItem.children">
                <span>{{ menuItem.label }}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" data-ng-if="menuItem.children">
                <li data-ng-repeat="child in menuItem.children" class="{{ child.type }}">
                    <a href data-ui-sref="{{ child.sref }}" data-ng-if="child.sref">{{ child.label }}</a>
                    <span data-ng-if="child.label && !child.sref" style="padding: 5px 15px; opacity:.75;"><small>{{ child.label }}</small></span>
                </li>
            </ul>
        </li>
        <li>
            <button class="btn btn-default" data-toggle="dropdown">Erstellen</button>

            <ul class="dropdown-menu">
                <li>
                    <a href data-ng-click="openCreateDialog('goal')">Ziel</a>
                </li>
                <li>
                    <a href data-ng-click="openCreateDialog('solution')">Lösung</a>
                </li>
                <li>
                    <a href data-ng-click="openCreateDialog('issue')">Vorgang</a>
                </li>
                <li>
                    <a href data-ng-click="openCreateDialog('space')">Bereich</a>
                </li>
                <li>
                    <a href data-ng-click="openCreateDialog('person')">Person</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="navbar-right" id="notices">
        <p class="navbar-text"><span class="text"></span></p>
    </div>
</div>
