<div class="modal-header">
    <h3 class="modal-title">Vorgang erstellen</h3>
</div>
<div class="modal-body">
    <form data-ng-submit="onSubmit()" name="form" novalidate>
        <formly-form model="model" fields="fields" options="options" form="vm.form">
            <button class="btn btn-primary submit-button" type="submit" data-ng-click="ok()"
                    data-ng-disabled="form.$invalid">Erstellen
            </button>
            <button class="btn btn-warning" type="button" data-ng-click="cancel()">Abbrechen</button>
        </formly-form>
    </form>
</div>