<ul>
    <li data-ng-repeat="goal in goals" class="col-md-6">
        <div>{{ goal.objective }}</div>
        <ul>
            <li data-ng-repeat="keyResult in goal.keyResults">
                {{ keyResult.title }}: {{ keyResult.expectedValue }} bis {{ keyResult.dueDate | date:'dd.MM.yyyy' }}

                <div>Messungen</div>
                <ul>
                    <li data-ng-repeat="measurement in keyResult.measurements">
                        {{ measurement.datetime | date:'dd.MM.yyyy' }}: {{ measurement.value }}
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>